<hmtl>
<head>
<title>
		Nesting of Tables
</title>
</head>
<body>
	<center> <caption> <h3> Student Info </h3> </caption> 
	<center>
	<table border="5" bordercolor="red" width="300" height="300">
	<tr>
		<th>
		<table border="2" bordercolor="green" width="200" height="200"> 
	</tr>
	
	<tr>
		<th>Roll no
		<th>Name
	</tr>
	
	<tr>
		<td>101
		<td>neha
	</tr>
	
	<tr>
		<td>102
		<td>riya
	</tr>
	</table>
	<th>
		<table border="2" bordercolor="green" width="200" height="200"> 
		<tr>
			<th>RESULT
		</tr>
		
		<tr>
			<th>Pass
		</tr>
		
		<tr>
			<th>Pass
		</tr>
		
</table>			
</body>
</html>